<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Source:</strong>
  <%= @article.source %>
</p>

<p>
  <strong>Body:</strong>
  <ul>
    <% @article.body.split(", ").each do |item| %>
      <li><%= item %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Estimated reading time:</strong>
  <%= @article.estimated_time %>
</p>

<%= link_to 'Back', root_path %>
